<ion-header class="ion-no-border">
    <ion-toolbar class="estilo">
        <ion-buttons slot="start">
            <ion-back-button
                default-href="#"
                class="text-cyan-50"
            ></ion-back-button>
            <h2 class="font-bold text-cyan-50 text-xl">Realizar pedido</h2>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="h-full flex flex-col p-2">
        @if(this.authService.currentUserSig(); as currentUser){

        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold h-full"
            routerLink="/listado-productos"
        >
            <div class="flex flex-col justify-center items-center h-full gap-5">
                <img class="w-52" src="/assets/alta_pedido.png" alt="" />
                <span class="text-4xl"> Menú de productos </span>
            </div>
        </ion-button>
        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold h-full"
            [routerLink]="'/chat-mozo/'+this.castUserToClient(currentUser).mesaAsignada"
            >
            <div class="flex flex-col justify-center items-center h-full gap-5">
            <img class="w-40" src="/assets/inicios_rapidos/mesero.png" alt="" />
                <span class="text-4xl"> Consulta al mozo </span>
            </div>
			</ion-button
        >
        }
    </div>
</ion-content>
