<ion-header class="ion-no-border">
    <ion-toolbar class="estilo">
        <ion-buttons slot="start">
            <ion-back-button
                default-href="#"
                class="text-cyan-50"
            ></ion-back-button>
            <h2 class="font-bold text-cyan-50 text-xl">Realizar pedido</h2>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="grid grid-cols-1 h-[calc(100vh-56px)]">
        @if(this.authService.currentUserSig(); as currentUser){

        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            routerLink="/listado-productos"
            >Menú de productos</ion-button
        >
        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            [routerLink]="'/chat-mozo/'+this.castUserToClient(currentUser).mesaAsignada"
            >Consulta al mozo</ion-button
        >
        }
    </div>
</ion-content>
