<form [formGroup]="credentials" class="w-full">
    <div class="mb-6 relative">
        <ion-input
            class="input-group text-xl"
            type="email"
            placeholder="Correo electrónico"
            fill="solid"
            formControlName="email"
        ></ion-input>
        @if(this.email && this.email.touched && obtenerMensajeError("email") !==
        null){
        <ion-note
            slot="error"
            color="danger"
            class="absolute -bottom-6 text-red-500 text-lg"
            >{{ obtenerMensajeError("email") }}</ion-note
        >
        }
    </div>

    <div class="mb-8 relative">
        <ion-input
            type="password"
            placeholder="Contraseña"
            class="text-xl"
            fill="solid"
            formControlName="password"
        >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        @if(this.password && this.password.touched &&
        obtenerMensajeError("password") !== null){
        <ion-note
            slot="error"
            color="danger"
            class="absolute -bottom-6 text-red-500 text-lg"
            >{{ obtenerMensajeError("password") }}</ion-note
        >
        }
    </div>

    <ion-button
        expand="block"
        class="login-button text-xl"
        (click)="this.login()"
        >Ingresar</ion-button
    >

    <div class="quick-login">
        <p class="text-white text-xl" style="margin-bottom: 5px">
            Inicio rápido con:
        </p>
        <div class="quick-buttons grid grid-cols-4">
            <ion-button
                fill="solid"
                class="btn"
                (click)="this.fillInGuest('cocinero')"
                ><img
                    src="assets/inicios_rapidos/cocinero.png"
                    width="40px"
                    height="auto"
            /></ion-button>
            <ion-button
                fill="solid"
                class="btn"
                (click)="this.fillInGuest('bartender')"
                ><img
                    src="assets/inicios_rapidos/barman.png"
                    width="40px"
                    height="auto"
            /></ion-button>
            <ion-button
                fill="solid"
                class="btn"
                (click)="this.fillInGuest('mozo')"
                ><img
                    src="assets/inicios_rapidos/mesero.png"
                    width="40px"
                    height="auto"
            /></ion-button>
            <ion-button
                fill="solid"
                class="btn"
                (click)="this.fillInGuest('clienteAnonimo')"
                ><img
                    src="assets/inicios_rapidos/anonimo.png"
                    width="40px"
                    height="auto"
            /></ion-button>
            <ion-button
                fill="solid"
                class="btn"
                (click)="this.fillInGuest('dueno')"
                ><img
                    src="assets/inicios_rapidos/dueño.png"
                    width="40px"
                    height="auto"
            /></ion-button>
            <ion-button
                fill="solid"
                class="btn"
                (click)="this.fillInGuest('supervisor')"
                ><img
                    src="assets/inicios_rapidos/supervisor.png"
                    width="40px"
                    height="auto"
            /></ion-button>
            <ion-button
                fill="solid"
                class="btn"
                (click)="this.fillInGuest('clienteRegistrado')"
                ><img
                    src="assets/inicios_rapidos/usuario.png"
                    width="40px"
                    height="auto"
            /></ion-button>

            <ion-button
                fill="solid"
                class="btn"
                (click)="this.fillInGuest('maitre')"
                ><img
                    src="assets/inicios_rapidos/jefe_1.png"
                    width="40px"
                    height="auto"
            /></ion-button>
        </div>
    </div>
</form>
