ion-item {
    --background: transparent;
}

.login-button {
    --background: #06b6d4;
    color: #000;
    margin-top: 20px;
}

.quick-login {
    margin-top: 20px;
    text-align: center;
}

.btn {
    --background: #06b6d4;
}
