<ion-header class="ion-no-border">
    <ion-toolbar class="estilo">
        <ion-buttons slot="start">
            <ion-back-button
                default-href="#"
                class="text-cyan-50"
            ></ion-back-button>
            <h2 class="font-bold text-cyan-50">Alta de dueño / supervisor</h2>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true" class="custom-background" style="width: 100%">
    <div class="mt-2 flex flex-col p-4 gap-2 justify-center items-center">
        <label
            for="nombre"
            >Nombre</label
        >
        <input
            class="h-8"
            type="text"
            id="nombre"
            name="nombre"
            style="width: 70%; border-radius: 5px"
        />
    </div>
    <div class="flex flex-col p-4 gap-2 items-center">
        <label
            style="
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
            "
            for="nombre"
            >Apellido</label
        >
        <input
            class="h-8"
            type="text"
            id="nombre"
            name="nombre"
            style="width: 70%; border-radius: 5px"
        />
    </div>
    <div class="flex flex-col p-4 gap-2 items-center">
        <label
            style="
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
            "
            for="nombre"
            >DNI</label
        >
        <input
            class="h-8"
            type="text"
            id="nombre"
            name="nombre"
            style="width: 70%; border-radius: 5px"
        />
    </div>
    <div class="flex flex-col p-4 gap-2 items-center">
        <label
            style="
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
            "
            for="nombre"
            >Cuil</label
        >
        <input
            class="h-8"
            type="text"
            id="nombre"
            name="nombre"
            style="width: 70%; border-radius: 5px"
        />
    </div>
    <div class="flex flex-col p-4 gap-2 items-center">
        <label
            style="
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: white;
            "
            for="nombre"
            >Perfil</label
        >
        <input
            class="h-8"
            type="text"
            id="nombre"
            name="nombre"
            style="width: 70%; border-radius: 5px"
        />
    </div>
    <div class="flex flex-row pt-4 justify-center items-center">
        <button
            (click)="tomarFoto()"
            class="custom-button"
            style="background-color: #0c2b93"
        >
            Tomar foto
        </button>
    </div>
    <div class="flex flex-row pt-4 justify-center items-center">
        <button (click)="tomarFoto()" class="custom-button bg-gray-800">
            Guardar
        </button>
    </div>
</ion-content> -->

<ion-content class="custom" [fullscreen]="true">
    <div class="h-[calc(100vh-56px)] p-4">
        <ion-fab class="mt-16" slot="fixed" horizontal="end" vertical="top">
            <ion-fab-button (click)="onScanClick()">
                <img class="w-9" src="/assets/scanner.svg" alt="" />
            </ion-fab-button>
        </ion-fab>
        <form
            [formGroup]="credentials"
            class="space-y-6 text-xl flex flex-col justify-between"
        >
            <div class="flex items-center justify-center">
                <div
                    class="w-fit flex items-center justify-center bg-slate-400 p-1 image"
                    (click)="onTakePhotoClick()"
                >
                    <img
                        class="w-20 h-20 image"
                        [src]="this.userImage"
                        alt=""
                    />
                    <img
                        class="w-6 -translate-x-10 translate-y-5 -m-3"
                        src="/assets/addPhoto.svg"
                        alt=""
                    />
                </div>
                <!-- <ion-button
                    expand="block"
                    class="login-button text-xl mt-4"
                    (click)="this.onTakePhotoClick()"
                    >Sacar foto
                </ion-button> -->
            </div>

            <!-- Apellidos -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Apellidos"
                    formControlName="apellidos"
                    class="w-full text-2xl"
                ></ion-input>
                @if(this.apellidos && this.apellidos.touched &&
                obtenerMensajeError("apellidos") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("apellidos") }}</ion-note
                >
                }
            </div>

            <!-- Nombres -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Nombres"
                    formControlName="nombres"
                    class="w-full text-2xl"
                ></ion-input>
                @if(this.nombres && this.nombres.touched &&
                obtenerMensajeError("nombres") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("nombres") }}</ion-note
                >
                }
            </div>

            <!-- DNI -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="DNI"
                    formControlName="dni"
                    type="number"
                    class="w-full text-2xl"
                ></ion-input>
                @if(this.dni && this.dni.touched && obtenerMensajeError("dni")
                !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("dni") }}</ion-note
                >
                }
            </div>

            <!-- CUIL -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="CUIL"
                    formControlName="cuil"
                    type="number"
                    class="w-full text-2xl"
                    minlength="11"
                    maxlength="11"
                ></ion-input>
                @if(this.cuil && this.cuil.touched &&
                obtenerMensajeError("cuil") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("cuil") }}</ion-note
                >
                }
            </div>

            <!-- Correo -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Correo"
                    formControlName="correo"
                    class="custom w-full text-2xl"
                ></ion-input>
                @if(this.correo && this.correo.touched &&
                obtenerMensajeError("correo") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("correo") }}</ion-note
                >
                }
            </div>

            <!-- Clave -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Contraseña"
                    type="password"
                    formControlName="clave1"
                    class="w-full text-2xl"
                >
                    <ion-input-password-toggle
                        slot="end"
                    ></ion-input-password-toggle>
                </ion-input>
                @if(this.clave1 && this.clave1.touched &&
                obtenerMensajeError("clave1") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("clave1") }}</ion-note
                >
                }
            </div>

            <!-- Botón de Registro -->
            <div class="text-center">
                <ion-button
                    [disabled]="!credentials.valid"
                    expand="block"
                    class="bg-blue-600 text-white rounded-lg py-3 w-full text-2xl"
                    (click)="addUser()"
                    >Añadir</ion-button
                >
            </div>
        </form>
    </div>
</ion-content>
