<ion-header class="ion-no-border">
    <ion-toolbar class="estilo">
        <ion-buttons slot="start">
            <ion-back-button
                default-href="#"
                class="text-cyan-50"
            ></ion-back-button>
            <h2 class="font-bold text-cyan-50 text-2xl">Alta de cliente</h2>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="custom" [fullscreen]="true">
    <div class="h-[calc(100vh-56px)] p-4 pt-1">
        <ion-fab class="mt-16" slot="fixed" horizontal="end" vertical="top">
            <ion-fab-button (click)="onScanClick()">
                <img class="w-9" src="/assets/scanner.svg" alt="" />
            </ion-fab-button>
        </ion-fab>
        <form
            [formGroup]="credentials"
            class="space-y-6 text-xl flex flex-col justify-between"
        >
            <div class="flex items-center justify-center">
                <div
                    class="w-fit flex items-center justify-center bg-slate-400 p-1 image"
                    (click)="onTakePhotoClick()"
                >
                    <img
                        class="w-20 h-20 image"
                        [src]="this.userImage"
                        alt=""
                    />
                    <img
                        class="w-8 -translate-x-14 translate-y-7 -m-4"
                        src="/assets/addPhoto.svg"
                        alt=""
                    />
                </div>
                <!-- <ion-button
                    expand="block"
                    class="login-button text-xl mt-4"
                    (click)="this.onTakePhotoClick()"
                    >Sacar foto
                </ion-button> -->
            </div>

            <!-- Apellidos -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Apellidos"
                    formControlName="apellidos"
                    class="w-full text-2xl"
                ></ion-input>
                @if(this.apellidos && this.apellidos.touched &&
                obtenerMensajeError("apellidos") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("apellidos") }}</ion-note
                >
                }
            </div>

            <!-- Nombres -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Nombres"
                    formControlName="nombres"
                    class="w-full text-2xl"
                ></ion-input>
                @if(this.nombres && this.nombres.touched &&
                obtenerMensajeError("nombres") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("nombres") }}</ion-note
                >
                }
            </div>

            <!-- DNI -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="DNI"
                    formControlName="dni"
                    type="number"
                    class="w-full text-2xl"
                ></ion-input>
                @if(this.dni && this.dni.touched && obtenerMensajeError("dni")
                !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("dni") }}</ion-note
                >
                }
            </div>

            <!-- Correo -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Correo"
                    formControlName="correo"
                    class="custom w-full text-2xl"
                ></ion-input>
                @if(this.correo && this.correo.touched &&
                obtenerMensajeError("correo") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("correo") }}</ion-note
                >
                }
            </div>

            <!-- Clave -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Contraseña"
                    type="password"
                    formControlName="clave1"
                    class="w-full text-2xl"
                >
                    <ion-input-password-toggle
                        slot="end"
                    ></ion-input-password-toggle>
                </ion-input>
                @if(this.clave1 && this.clave1.touched &&
                obtenerMensajeError("clave1") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("clave1") }}</ion-note
                >
                }
            </div>

            <!-- Repetir Clave -->
            <div class="relative">
                <ion-input
                    fill="solid"
                    placeholder="Repetir contraseña"
                    type="password"
                    formControlName="clave2"
                    class="w-full text-2xl"
                >
                    <ion-input-password-toggle
                        slot="end"
                    ></ion-input-password-toggle>
                </ion-input>
                @if(this.clave2 && this.clave2.touched &&
                obtenerMensajeError("clave2") !== null){
                <ion-note
                    slot="error"
                    color="danger"
                    class="absolute -bottom-6 text-red-500 text-lg"
                    >{{ obtenerMensajeError("clave2") }}</ion-note
                >
                }
            </div>

            <!-- Botón de Registro -->
            <div class="text-center">
                <ion-button
                    [disabled]="!credentials.valid"
                    expand="block"
                    class="bg-blue-600 text-black rounded-lg py-3 w-full text-2xl"
                    (click)="addUser()"
                    >Añadir</ion-button
                >
            </div>
        </form>
    </div>
</ion-content>
