<ion-header class="ion-no-border">
    <ion-toolbar class="estilo">
        <ion-buttons slot="start">
            <ion-back-button
                default-href="/home"
                class="text-cyan-50"
            ></ion-back-button>
            <h2 class="font-bold text-cyan-50 text-xl">Estado de pedidos</h2>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="h-screen p-5" style="max-height: 650px; overflow-y: scroll">
        @for (pedido of pedidos; track $index) {

        <div
            class="bg-slate-700 rounded-lg shadow-lg overflow-hidden p-4"
            style="margin-bottom: 15px; margin-top: 10px"
        >
            <div
                class="p-4 flex flex-col justify-center items-center space-y-3"
            >
                <h1 class="text-3xl font-bold mb-1">
                    {{this.arrayNombresPedidos[$index]}}
                </h1>
                <h5 class="text-3xl mb-1">
                    Precio total: {{ this.pedidos[$index].precio_total }}
                </h5>

				<p class="text-2xl text-gray-200">
                    <strong>Estado: </strong> {{this.pedidos[$index].estado}}
                </p>

                <p class="text-2xl text-gray-200">
                    <strong>Detalle del Pedido:</strong>
                </p>
                @for (item of this.pedidos[$index].item_menu; track $index) {
                <p class="text-2xl text-gray-200">
                    {{ pedido.item_menu[$index] }} - Cantidad:
                    <span class="text-3xl">
                    {{
                    pedido.cantidad_item_menu[$index] }}
                    </span>
                </p>
                }

                <p class="text-2xl text-center text-gray-200">
                    <strong>Tiempo de elaboración:</strong>
                    {{ this.pedidos[$index].tiempo_estimado }} min
                </p>
                <!-- 
                <p class="text-lg text-gray-200">
                    <strong>Id del cliente que pidió:</strong>
                    {{ this.pedidos[$index].id_cliente }} min
                </p> -->

                @if (this.pedidos[$index].estado === 'pendiente') {
                <button
                    (click)="actualizarPedido(this.pedidos[$index], $index)"
                    type="button"
                    class="btn-aprobar w-full my-2"

                    style="font-size: 30px;"
                >
                    Confirmar
                </button>
                } @else if(this.pedidos[$index].estado === 'listo para entregar') {
                <button
                    (click)="entregarPedido(this.pedidos[$index], $index)"
                    type="button"
                    class="btn-rechazar w-full my-2"

                    style="font-size: 30px;"
                >
                    Entregar
                </button>
                } @else if(
					this.pedidos[$index].estado === 'cuenta pagada a revision'
				) {
                <button
                    (click)="confirmarPago(this.pedidos[$index], $index)"
                    type="button"
                    class="btn-pago w-full my-2"

                    style="font-size: 30px;"
                >
				Confirmar pago
                </button>
                } @else if(this.pedidos[$index].estado === 'cuenta solicitada') {
                <button
                    (click)="entregarCuenta(this.pedidos[$index], $index)"
                    type="button"
                    class="btn-pago w-full my-2"

                    style="font-size: 30px;"
                >
				Entregar cuenta
                </button>
                }
            </div>
        </div>
        }
    </div>
</ion-content>
