.custom-background {
    --background: #3f3f46;
}

.estilo {
    --background: #1c1c1f;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.styled-table th,
.styled-table td {
    padding: 10px 10px 0;
    border-right: 2px solid #383838;
}

.styled-table th:last-child,
.styled-table td:last-child {
    border-right: none;
}

.styled-table tbody tr {
    background-color: #3f3f3f;
    transition: background-color 0.2s;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #494949;
}

.styled-table tbody tr:hover {
    background-color: #4e4e4e;
}

.btn-aprobar {
    background: #06b604;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-rechazar {
    background: #63a4ff;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-pago {
    background: #00cedd;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-aprobar:hover {
    background: #025801;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-aprobar:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.btn-pago:hover {
    background: #007cf0;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-pago:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.btn-rechazar:hover {
    background: #29108b;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-rechazar:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
