<ion-header class="ion-no-border">
    <ion-toolbar class="estilo">
        <ion-buttons slot="start">
            <ion-back-button
                default-href="/espera-cliente"
                class="text-cyan-50"
            ></ion-back-button>
            <h2 class="font-bold text-cyan-50 text-xl">Encuestas previas</h2>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="graficos" class="contenedor">
        <app-grafico
            tipoGrafico="pie"
            [labels]="labelsComida"
            [series]="seriesComida"
            tituloGrafico="¿Cómo definiría la comida del lugar?"
        ></app-grafico>
        <app-grafico
            tipoGrafico="barras"
            [labels]="labelsComoConocio"
            [series]="seriesComoConocio"
            tituloGrafico="¿Cómo nos conociste?"
        ></app-grafico>
        <app-grafico
            tipoGrafico="barras"
            [labels]="labelsLimpieza"
            [series]="seriesLimpieza"
            tituloGrafico="¿Está conforme con la limpieza del lugar?"
        ></app-grafico>
        <app-grafico
            tipoGrafico="lineas"
            [labels]="labelsAtencion"
            [series]="seriesAtencion"
            tituloGrafico="¿Qué tan satisfecho se encuentra con la atención al cliente?"
        ></app-grafico>
    </div>
</ion-content>
