ion-range {
  --bar-background: #06b6d4;
  --bar-background-active: #06b6d4;
  --bar-height: 8px;
  --bar-border-radius: 8px;
  --knob-background: #00d9ff;
  --knob-size: 40px;
  --pin-background: #005868;
  --pin-color: #005a69;
}

.pages-button {
    --background: #06b6d4;
    color: #000;
}
