.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #151515;
}
  
h1 {
    color: #06b6d4; 
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
  
.login-card {
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    background-color: #202020;
    padding: 20px;
}
  
ion-item {
    --background: transparent;
    color: rgb(0, 255, 52);
}
  
ion-label {
    color: rgb(0, 255, 52);
}
  
.login-button {
    --background: #06b6d4;
    color: #000;
    margin-top: 20px;
}
  
.quick-login {
    margin-top: 20px;
    text-align: center;
}
  
  
.quick-login-button {
    --background: #333; /* Botones más sutiles */
    color: rgb(0, 255, 52); /* Verde brillante */
    width: 30%;
}
  
.signup p {
    color: #fff;
    margin-top: 20px;
    font-size: 12px;
}
