.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #151515;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login-card {
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    background-color: #202020;
    padding: 20px;
}

ion-item {
    --background: transparent;
    color: rgb(236, 236, 236);
}

ion-label {
    color: rgb(225, 225, 225);
}

.login-button {
    --background: #06b6d4;
    color: #000;
    margin-top: 20px;
}

.quick-login {
    margin-top: 20px;
    text-align: center;
}

.quick-login-button {
    --background: #333;
    color: rgb(231, 231, 231);
    width: 30%;
}

.signup p {
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
}

.btn {
    --background: #06b6d4;
}
