<ion-header class="ion-no-border">
    <ion-toolbar class="estilo">
        <ion-buttons slot="start">
            <ion-back-button
                default-href="#"
                class="text-cyan-50"
            ></ion-back-button>
            <h2 class="font-bold text-cyan-50 text-xl">Clientes menu</h2>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    @if (false){ } @else {
    <div class="flex flex-col justify-center h-[calc(100vh-56px)] p-2">
        @if (this.clienteReal?.situacion === 'out') {
        <!-- @if(true){ -->
        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            (click)="entrarEnListaEspera()"
        >
            <div
                class="flex flex-col justify-center items-center gap-4 h-full py-6"
            >
                <img class="w-32 -my-7" src="/assets/queue.svg" alt="" />
                <span class="text-3xl">Acceder a lista de espera</span>
            </div>
        </ion-button>

        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            (click)="tomarMesa()"
        >
            <div
                class="flex flex-col justify-center items-center gap-4 h-full p-6"
            >
                <img class="w-32" src="/assets/escanear_mesa.png" alt="" />
                <span class="text-3xl"> Escanear mesa</span>
            </div>
        </ion-button>
        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            (click)="entrarEncuestasPrevias()"
        >
            <div
                class="flex flex-col justify-center items-center gap-4 h-full p-6"
            >
                <img
                    class="w-32 -my-5"
                    src="/assets/encuestas-previas.png"
                    alt=""
                />
                <span class="text-3xl"> Encuestas previas</span>
            </div>
        </ion-button>
        }@else{

        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            (click)="tomarMesa()"
        >
            <div
                class="flex flex-col justify-center items-center gap-4 h-full p-6"
            >
                <img class="w-64" src="/assets/escanear_mesa.png" alt="" />
                <span class="text-4xl"> Escanear mesa</span>
            </div>
        </ion-button>
        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            (click)="entrarEncuestasPrevias()"
        >
            <div
                class="flex flex-col justify-center items-center gap-4 h-full p-6"
            >
                <img
                    class="w-64 -my-5"
                    src="/assets/encuestas-previas.png"
                    alt=""
                />
                <span class="text-4xl"> Encuestas previas</span>
            </div>
        </ion-button>
        }
    </div>
    }
</ion-content>
