<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="grid grid-cols-1 h-[calc(100vh-56px)]">
        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            routerLink="/alta-cliente"
            >Alta cliente</ion-button
        >
        <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            routerLink="/clientes-pendientes"
            >Lista de espera</ion-button
        >
        <!-- <ion-button
            expand="block"
            class="pages-button text-2xl font-bold"
            routerLink="/login"
            >Login form</ion-button
        > -->
    </div>
</ion-content>
